h1{
    color:darkmagenta;
    background-color: crimson;
    padding-left: 30px;
}
.item{
    position: relative; 
 }
.header{
    background-color: darkred;
    display : flex;
    justify-content: space-between;
    text-rendering: optimizeLegibility;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

.desc{
    text-align: center;
}

body{
    background-color: #80808080;
}

.header *{
    border: solid;
}